# Compiler files
cache/
out/

# Environment — never commit private keys
.env

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
